@green-color: #50923e;
@color-red: #923e50;
@color-orange:#92603e;
@color-blue:#3e6292;
@color-black:#443f40;

@Righteous: 'Righteous', cursive;
@Roboto: 'Roboto';

*{
  font-family: @Roboto;
  box-sizing: border-box;
}

#topHeader{
  .wrapper{
    margin: 0 auto;
  }
   .img {
    max-width: 150px;
    margin-left: 0;
    img{
      transition: all .2s ease-in-out;
      &:hover{
        opacity: .8;
      }
    }
  }
  .text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    a{
      display: inline-block;
      &:nth-of-type(1){
        margin: 0 20px;
      }
      &:nth-of-type(2){
        font-size: 18px;
            border-radius: 0;
            border: 2px solid #3e6292;
            display: inline-block;
            padding: 6px 28px;
            background-color: #fff;
            color: #3e6292;
            transition: all 0.2s ease-in-out;
            text-transform: uppercase;
        &:hover{
          background-color: @color-blue;
          color:#fff;
        }
      }
    }
  }
  .fa-shopping-cart {
    font-size: 24px;
    color: @color-blue;
  }
}

#pageTitle {
  padding: 3.7vw 0;
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

  &::before {
    width: 100%;
    background-color: @color-orange;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
  }

  .text {
    text-align: center;
    background-color: ~'rgb(255 255 255 / 63%)';
  }

  h1 {
    color: #fff;
    border-radius: 8px;
    padding: 16px;
    text-shadow: 1px 1px 7px #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    font-size: 46px;
  }

  .img {
    max-width: 150px;
    margin-left: 0;
  }
  .width-12{
    padding: 0;
  }
}

#footer {
  background-color: lighten(#443f40, 10%);
  border-top: 2px solid #fff;
  padding: 12.5px 0;
}

#menu{
  padding: 12px 0;
  background-color: lighten(#443f40, 10%);
  .text{
    margin: 0 auto;
  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 20px;
      font-size: 22px;
      color:#fff;
      position: relative;
      &:before {
          content: '';
          transition: width .2s ease-in-out;
          position: absolute;
          bottom: 0;
          width: ~'0px';
          height: 2px;
          background-color: #fff;
          left: 50%;
          transform: translateX(-50%);
      }
      &:hover{
        &:before {
          width: ~'calc(100% - 22px)';
        }
      }
    }
  }
}
