@green-color: #50923e;
@color-red: #923e50;
@color-orange: #92603e;
@color-blue: #3e6292;
@color-black: #443f40;
@Righteous: 'Righteous', cursive;
@Roboto: 'Roboto';

* {
  font-family: @Roboto;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-size: 24px;
}

.button {
  display: inline-block;
  font-size: 18px;
  border-radius: 0;
  border: 2px solid #3e6292;
  display: inline-block;
  padding: 6px 28px;
  background-color: #fff;
  color: #3e6292;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #3e6292;
    color: #fff;
  }
}

#topHeader {
  .wrapper {
    margin: 0 auto;
  }

  .img {
    max-width: 150px;
    margin-left: 0;

    img {
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    a {
      display: inline-block;

      &:nth-of-type(1) {
        margin: 0 20px;
      }

      &:nth-of-type(2) {
        font-size: 18px;
        border-radius: 0;
        border: 2px solid #3e6292;
        display: inline-block;
        padding: 6px 28px;
        background-color: #fff;
        color: #3e6292;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;

        &:hover {
          background-color: @color-blue;
          color: #fff;
        }
      }
    }
  }

  .fa-shopping-cart {
    font-size: 24px;
    color: @color-blue;
  }
}

#pageTitle {
  padding: 3.7vw 0;
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

  &::before {
    width: 100%;
    background-color: @color-orange;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
  }

  .text {
    text-align: center;
    background-color: ~'rgb(255 255 255 / 63%)';
  }

  h1 {
    color: #fff;
    border-radius: 8px;
    padding: 16px;
    text-shadow: 1px 1px 7px #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    font-size: 46px;
  }

  .img {
    max-width: 150px;
    margin-left: 0;
  }

  .width-12 {
    padding: 0;
  }
}

#footer {
  background-color: lighten(#443f40, 10%);
  border-top: 2px solid #fff;
  padding: 12.5px 0;
}

#menu {
  padding: 12px 0;
  background-color: lighten(#443f40, 10%);

  .text {
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 20px;
      font-size: 22px;
      color: #fff;
      position: relative;

      &:before {
        content: '';
        transition: width 0.2s ease-in-out;
        position: absolute;
        bottom: 0;
        width: ~'0px';
        height: 2px;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        &:before {
          width: ~'calc(100% - 22px)';
        }
      }
    }
  }
}
//////////////////////Login Form

#formSignIn {
  label {
    display: block;
  }

  h2 {
    span {
      &:nth-of-type(1) {
        padding-top: 20px;
      }
      display: block;
      color: #e91e63;
      text-transform: uppercase;
    }
  }
}

#signInForm {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;

  input[type="radio"] {
    display: none;

    &:checked {
      + label {
        &:before {
          background-color: @green-color;
        }
      }
    }
  }

  label {
    cursor: pointer;

    &[for="signIn"],
    &[for="signUp"] {
      padding: 15px 30px;
      display: inline-block;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  #formSignIn {
    display: none;
  }

  #formSignUp {
    display: none;

    label {
      display: block;
    }
  }

  input[type="submit"] {
    display: none;
    margin-top: 15px;
  }
}

#signIn {
  &:checked {
    ~ #formSignIn {
      display: block;
    }

    ~ input[type="submit"] {
      display: block;
    }
  }
}

#signUp {
  &:checked {
    ~ #formSignUp {
      display: block;
    }

    ~ input[type="submit"] {
      display: block;
    }
  }
}

.customForm {
  input,
  select {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: 1px solid @color-black;
  }

  label {
    text-align: left;
    padding: 10px 0;
    color: @green-color;
  }
}

#loginData {
  background-color: #5e5859;
  padding: 12px 0;

  p {
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }

  .text {
    text-align: right;
  }
}

.shop {
  .width-12 {
    display: flex;
    flex-wrap: wrap;

    article {
      width: ~'calc(25% - 30px)';
      margin: 20px 15px;
      overflow: hidden;

      img {
        max-width: 250px;
      }

      .img {
        text-align: center;

        div:nth-of-type(1) {
          height: 200px;
          width: 200px;
          background-size: contain;
          background-position: center;
          margin: 0 auto;
          background-repeat: no-repeat;
        }
      }

      .content {
        text-align: center;
        position: relative;
      }

      .button {
        width: 200px;
      }

      .productTitle {
        font-size: 18px;
        color: #50923e;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        margin: 10px auto;
      }

      .price {
        font-size: 20px;
        font-weight: 600;
      }

      .added {
        position: absolute;
        left: 50%;
        bottom: -50px;
        transform: translate(-50%);
        background-color: #3e6292;
        color: #fff;
        cursor: none;
        pointer-events: none;

        &.clicked {
          bottom: 0;
        }
      }
    }
  }
}

.cartCount {
  display: inline-block;
  border-radius: 100%;
  background: #50923c;
  color: #fff;
  padding: 5px;
  font-size: 15px;

  &:empty {
    display: none;
  }
}

#content_wrap {
  .grandCost {
    span {
      font-size: inherit;
    }
  }

  td {
    font-size: 18px;
    font-weight: 800;
    color: #444;

    &:nth-of-type(1) {
      text-align: center;
    }

    &:nth-of-type(5) {
      text-align: center;
    }

    img {
      max-width: 80px;
    }
  }

  .product_name {
    width: 36%;
  }

  th {
    &:nth-of-type(5) {
      text-align: center;
    }

    &:nth-of-type(4) {
      text-align: center;
    }
  }

  .cart-collaterals {
    max-width: 400px;
    margin-left: auto;

    td {
      &:nth-of-type(1) {
        text-align: left;
      }
    }
  }
}

.empty-cart {
  .width-12 {
    text-align: center;
    text-align: center;
  }
}

.amount {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120px;
  margin: 0 auto;
  border: 2px solid;

  .fas {
    padding: 10px 8px;
    background-color: @color-blue;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }

  .total {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.product_image{
  position: relative;
  .fa-times {
    color: red;
    position: absolute;
    left: 10px;
    border: 1px solid;
    padding: 4px;
    height: 28px;
    border-radius: 100%;
    width: 28px;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: red;
      color:#fff;
    }
  }
}


.grid{
   .width-3 {
     background-color: #f2f2f2;
     padding: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
     align-items: center;
     width: 33%;
    span {
      width: 50%;
      text-align: center;
      padding: 10px;
    }
  }
   .width-9 {
     width: 66%;
     padding: 0px 48px;
   }
}
