<?php
  if($_SESSION['user'] == '' && !empty($_POST)){
    $name = $this->loginInfo();
  }
  else{
    $name = $this->sql->getUser();
  }

  if($name != ''){
     $output = '<span>Welcome ' . $name .'</span>';
     $output .= '<button class="button" type="button" onclick="logout()">Sign Out</button>';
  }
?>

<html>

<head>
  <link rel="stylesheet/less" type="text/css" href="../Css/styles.less" />
  <link rel="stylesheet/less" type="text/css" href="../Css/style.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="//cdn.jsdelivr.net/npm/less@3.13"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head><!-- End of head -->

<body>
  <header>
    <div id="loginData" class="section">
      <div class="constraint" style="">
        <div id="" class="column width-12">
          <div class="text">
            <p><?php echo $output; ?></p>
          </div>
        </div>
      </div>
    </div>
    <div id="topHeader" class="section">
      <div class="constraint" style="">
        <div id="" class="column width-6">
          <div class="wrapper img">
            <a href="<?php echo '/';?>">
              <img src="../Images/logo.png" alt="logo">
            </a>
          </div>
        </div>
        <div id="" class="column width-6">
          <div class="wrapper text">
            <a href="<?php echo '/carts';?>">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="<?php echo '/login';?>"> Login </a>
          </div>
        </div>
      </div>
    </div>
    <div id="menu" class="section">
      <div class="constraint" style="">
        <div class="column width-12">
          <div class="wrapper text">
            <nav>
              <a href="<?php echo '/';?>">Home</a>
              <a href="/shop">Shop</a>
              <a href="/carts">Cart</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div id="pageTitle" class="section" style="background-image: url(../Images/HERO.jpg);">
      <div class="column width-12">
        <div class="wrapper text">
          <h1><?php echo $this->controller->getPageID(); ?></h1>
        </div>
      </div>
    </div>
  </header>
