<div id="" class="section grid">
  <div class="constraint">
    <div id="" class="column width-3">
      <span><img src="../Images/home/avocado.jpg" alt="logo"></span>
      <span><img src="../Images/home/candy.jpg" alt="logo"></span>
      <span><img src="../Images/home/coffee.jpg" alt="logo"></span>
      <span><img src="../Images/home/toothpaste.jpg" alt="logo"></span>
    </div>
    <div id="" class="column width-9">
      <h1>In And Out Grocery</h1>
      <p>Nothing feels better than having the essentials and We got you covered</p>
    </div>
  </div>
</div>
<div id="" class="section adds">
  <div class="constraint">
    <div id="" class="column width-12">
    </div>
  </div>
</div>
