<div id="" class="section grid home">
  <div class="constraint">
    <div id="" class="column width-9">
      <h1>In And Out Grocery</h1>
      <h3>Recipe of the day</h3>
      <p>Modified Hawaiian Pizza<br>
        Aarti's Hawaiian pizza is a classic pineapple pie jazzed up with her signature flair.</p>
    </div>
    <div id="" class="column width-3">
      <div>
        <span><img src="../Images/home/avocado.jpg" alt="logo"></span>
        <span><img src="../Images/home/candy.jpg" alt="logo"></span>
        <span><img src="../Images/home/coffee.jpg" alt="logo"></span>
        <span><img src="../Images/home/toothpaste.jpg" alt="logo"></span>
      </div>
    </div>
  </div>
</div>
